@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800&display=swap');

/* Basic Typography */
.main-font{font-family: 'Roboto', sans-serif;}
.alt-font{font-family: 'Montserrat', sans-serif;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #696969;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.2px;
    width: 100%;
    overflow-x: hidden;
    background-color: #e6f0ff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #404854;
}

a, *::before, *::after, img, span, input, button {
    transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}

section, .section-padding {
    position: relative;
    padding: 7.5rem 0;
    overflow: hidden;
}

@media (max-width: 767px) {
    section, .section-padding {
        padding: 4.5rem 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

a:active, a:hover {
    color: #00bcd4;
}

p:last-child {
    margin-bottom: 0 !important;
}

/* Buttons */
.btn {
    -webkit-appearance: initial;
    overflow: hidden;
    position: sticky;
    z-index: 2;
    display: inline-block;
    font-size: 17px;
    border: 2px solid transparent;
    letter-spacing: .5px;
    line-height: inherit;
    border-radius: 0;
    text-transform: capitalize;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease !important;
    transition: all .5s ease !important;
}

.btn.btn-large {
    font-size: 14px;
    padding: 9px 34px;
    line-height: 1.8em;
}

.btn.btn-rounded {
    border-radius: 50px;
}

.btn-hvr-setting {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.btn-hvr-setting-inner {
    position: relative;
    display: block;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-hvr-effect {
    position: absolute;
    top: -5px;
    width: 25%;
    height: 100%;
    border-radius: 100%;
    -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
    transform: translate3d(0, 150%, 0) scale(1.7);
    -webkit-transition: -webkit-transform 0.45s;
    transition: transform 0.45s !important;
    background: #ffffff;
    border-color: #ffffff;
}

.btn-hvr-effect:nth-child(1) {
    left: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s !important;
}

.btn-hvr-effect:nth-child(2) {
    left: 30%;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s !important;
}

.btn-hvr-effect:nth-child(3) {
    left: 60%;
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s !important;
}

.btn-hvr-effect:nth-child(4) {
    left: 90%;
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s !important;
}

.btn-hvr-setting:hover .btn-hvr-effect,
.btn:hover .btn-hvr-effect,
.btn:active .btn-hvr-effect,
.btn:focus .btn-hvr-effect {
    -webkit-transform: translateZ(0) scale(1.7);
    transform: translateZ(0) scale(1.7) !important;
}

/* Button colors */
.btn.btn-blue {
    background: #0063e8;
    border-color: #0063e8;
    color: #ffffff;
}

.btn.btn-white {
    background: #ffffff;
    border-color: #ffffff;
    color: #0063e8;
}

/* Button Hover */
.btn.btn-hvr-white:hover,
.btn.btn-hvr-white:focus {
    color: #0063e8;
    border-color: #fff;
    background: transparent !important;
}

.btn.btn-hvr-white .btn-hvr-effect {
    background: #fff;
    border-color: #fff;
}

.btn.btn-hvr-blue:hover,
.btn.btn-hvr-blue:focus {
    color: #fff;
    border-color: #0063e8;
    background: transparent !important;
}

.btn.btn-hvr-blue .btn-hvr-effect {
    background: #0063e8;
    border-color: #0063e8;
}

/* Background colors */
.bg-white {
    background-color: #e6f0ff !important;
}

.bg-blue {
    background-color: #0063e8;
}

/* Scroll to top */
.scroll-top-arrow, 
.scroll-top-arrow:focus {
    font-size: 23px;
    line-height: 47px;
    color: #fff;
    background-color: #0063e8;
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 80;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.scroll-top-arrow:hover {
    background-color: #0095ff;
}

/* Media queries */
@media screen and (max-width: 767px) {
    body {
        text-align: center;
    }

    #features .heading-area.mb-4 {
        margin-bottom: 0 !important;
    }
    
    #features .btn {
        display: block;
        width: 100%;
        padding: 10px;
    }

    #features ul li {
        margin-bottom: 20px !important;
        padding-bottom: 20px !important;
        font-size: 16px !important;
    }

    #features .title {
        font-size: 36px !important;
        padding-bottom: 15px !important;
    }
    
    #features .para {
        font-size: 18px !important;
        padding-bottom: 15px !important;
    }
    
    .section-padding {
        padding: 25px 0;
    }

    .d-md-none.mb-4 img {
        max-height: 200px;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }
} 